<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Edit Player</title>
</head>
<body>
	<div align="center">
		<h1>Edit Player</h1>
		<br />
		<form action="#" th:action="@{/save}" th:object="${player}"
			method="post">
			<table border="0">
				<tr>
					<td>Player ID:</td>
					<td><input type="text" th:field="*{playerId}" readonly="readonly" />
					</td>
				</tr>
				<tr>
					<td>Player Name:</td>
					<td><input type="text" th:field="*{playerName}" /></td>
				</tr>
				<tr>
					<td>Player Nationality:</td>
					<td><input type="text" th:field="*{playerNationality}" /></td>
				</tr>
				<tr>
					<td colspan="2"><button type="submit">Save</button></td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>